<div class="mdc-dialog" role="detaildialog" aria-modal="true" aria-labelledby="dialog-title" aria-describedby="dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title" id="dialog-title">
                {{title}}
            </h2>
            <div class="mdc-dialog__content" id="dialog-content" style="max-height:500px">
                
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">Close</button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>