<div class="login-root">
    <div class="login-content">
        <div class="logo"><div class="login-logo">Cloudmesh v4</div></div>
        <div class="login-form">
            <div id="userNameTxt"></div>
            <div id="passWordTxt" style="margin-top:20%"></div>
        </div>
        <div class="login-footer">
            
        </div>
    </div>
</div>